.error-text{
    color: red;
}
.para{
    font-size: 30px;
    color: green;
}
h3{
    text-align: center;
}
form{
    text-align: center;
}
form input[type= button]{
    background-color: aquamarine;
}
.btn-signup{
    cursor: pointer !important;
    background-color: black;
    color: aliceblue;
    border-radius: 10%;
}
